div.row.marginY-x40
    div.col-xs-2.col-xs-offset-1.text-center
        div.bg-img.top-tracks
    div.col-xs-8
        h5.text-gray-light Top Ten Track List
        h2 The Top 10 Tracks
        h4.text-gray-light This list is powered by LastFM.com

div(ui-view="")
