doctype html
html(lang="en", ng-app="lastFmApp")
    head
        block meta
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
            meta(name="X-UA-Compatible", content="IE=edge,chrome=1")
            link(rel="icon", href="images/favicon.ico", type="image/x-icon")
        block title
        block stylesheet
            <!-- bower_dependencies:css -->
            <!-- bower_dependencies -->
            <!-- local_dependencies:css -->
            <!-- local_dependencies -->
    body
        block content
        block script
            <!-- bower_dependencies:js -->
            <!-- bower_dependencies -->
            <!-- local_dependencies:js -->
            <!-- local_dependencies -->
