div.row.marginY-x40
    div.col-xs-10.col-xs-offset-1
        table.table
            thead
                tr
                    th.text-center #
                    th Artist
            tbody
                tr(ng-repeat="artist in artists.list")
                    td.text-center {{($index + 1)}}
                    td
                        a(ng-href="#/artists/{{artist.name}}") {{artist.name}}

